body {
  font-family: 'Montserrat';
}

#title {
  background-color: #ff4c68;
}

h1 {
  color: #fff;
  font-family: 'Montserrat-Black'sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.btn-download {
  margin: 5% 3% 5% 0;
  font-weight: bold;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 1000px) {
  .title-img {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}

/* Section */
#features {
  text-align: center;
  padding: 10% 15%;
  background-color: #fff;
  position: relative;
}

.fas {
  color: #ef8172;
}

h3 {
  padding-top: 5%;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

P {
  color: #8f8f8f;
  text-align: center;
}

.fas:hover {
  color: #ff4c68;
}

/* testimonials section */
#testimonials {
  text-align: center;
  color: #ffff;
  background-color: #ef8172;
}

.testimonials-img {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-inner {
  padding: 7% 15%;
}

h2 {
  font-family: "Montserrat-Bold", sans-serif;
}

/* Press Section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  font-family: "Montserrat", sans-serif;
}

.pricing-text {
  padding: 2% 3%;
}

/* Last Section */
#cta {
  background-color: #ff4c68;
  text-align: center;
}

.last-heading {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 3rem;
  padding: 4% 20% 0;
  text-align: center;
}

.btn-dwnld {
  margin: 3% 3% 5% 0;
  font-weight: bold;
}

/* Footer */
#footer {
  text-align: center;
  padding: 3%;
}

.fa {
  padding: 1%;
}

.Copyright {
  padding-top: 1%;
  font-weight: bold;
}
